    html {
        scroll-behavior: smooth;
    }
    
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    /* Top Picture Background */
    
    .header {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/departmentstore.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    /* Navbar */
    
    nav {
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
    }
    
    nav img {
        width: 150px;
    }
    
    .nav-links {
        flex: 1;
        text-align: right;
    }
    
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    
    .nav-links ul li a {
        color: rgb(243, 193, 55);
        text-decoration: none;
        font-size: 1.4em;
        font-weight: bold;
    }
    
    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    .nav-links ul li:hover::after {
        width: 100%;
    }
    /* Text header */
    
    .text-box {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
    }
    
    #top {
        transform: translateY(73vh) rotate(180deg);
        margin: 0;
        padding: 0;
    }
    
    .text-box h1 {
        font-size: 62px;
        font-family: Roulette;
        color: rgb(70, 70, 202);
        text-shadow: 2px 2px #fff;
    }
    
    .text-box span {
        font-family: Bigilla;
        font-size: 90px;
    }
    
    .text-box p {
        margin: 10px 0 40px;
        font-size: 14px;
        color: #fff
    }
    
    .text-box h4 {
        padding-left: 81px;
    }
    
    #header-logo {
        font-family: Roulette;
        color: rgb(52, 79, 110);
    }
    
    .circletext {
        transform: translateX(70%);
    }
    
    .rtext {
        color: white;
    }
    
    #button-shop {
        background-color: green;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: 0.5s ease;
    }
    
    #button-shop:hover {
        background: yellow;
        color: black;
        font-size: 18px;
        position: relative;
    }
    /* line  */
    
    .line {
        width: 10px;
        height: 1px;
    }
    
    .path2 {
        stroke-dasharray: 1120;
        /*   stroke-dashoffset: 800; */
        animation: draw1 5s linear;
    }
    
    @keyframes draw1 {
        from {
            stroke-dashoffset: 1120;
        }
        to {
            stroke-dashoffset: 2240;
        }
    }
    /* mobile */
    
    @media (max-width: 700px) {
        .text-box h1 {
            font-size: 20px;
        }
        .nav-links ul li {
            display: block;
        }
        .nav-links {
            position: absolute;
            background: #f44336;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
            transition: 1s;
        }
        nav .fas {
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }
        .nav-links ul {
            padding: 30px;
        }
    }
    /* Section Product */
    
    .course {
        transform: translateY(30%);
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
        border: 3px solid black;
    }
    
    h1 {
        font-size: 3.1rem;
        font-weight: 600;
        transform: translateY(10%);
    }
    
    p {
        color: #777;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
    
    .row {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    
    .course-col {
        flex-basis: 31%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    
    h3 {
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }
    
    .course-col:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
    
    h2 {
        transform: translateY(10%);
    }
    
    .Intro {
        transform: translateY(5%);
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    
    #intro {
        transform: translateY(-6em);
        width: 80%;
        margin: auto;
    }
    
    #intro h1 {
        font-size: 50px;
    }
    
    .des {
        transform: translateY(-20%);
    }
    
    .info-1,
    .info-2,
    .info-3,
    .info-4 {
        transform: translateY(-5%);
        height: 500px;
        margin: auto;
    }
    
    #paragraph-1,
    #paragraph-2,
    #paragraph-3,
    #paragraph-4 {
        font-size: 3rem;
    }
    
    #paragraph-1 {
        height: 100px;
        width: 30%;
        padding-left: 10%;
        transform: translateY(50%);
    }
    
    #paragraph-2 {
        height: 100px;
        width: 30%;
        padding-left: 60%;
        transform: translateY(50%);
    }
    
    #paragraph-3 {
        height: 100px;
        width: 30%;
        padding-left: 10%;
        transform: translateY(50%);
    }
    
    #paragraph-4 {
        height: 100px;
        width: 30%;
        padding-left: 60%;
        transform: translateY(50%);
    }
    
    #img-1 {
        float: right;
    }
    
    .intro-2 {
        width: 100%;
        transform: translateY(-5%);
    }
    /* 2nd section */
    
    .smooth-scroll-wrapper {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        overflow: hidden;
        transform: translateY(5%);
    }
    
    .content {
        width: 80%;
        margin: 150px auto;
    }
    
    #header1 {
        font-size: 80px;
        font-family: 'Zen Antique', serif;
    }
    
    #para-1 {
        font-size: 24px;
        font-family: 'Playfair Display', serif;
        line-height: 40px;
        font-weight: 600;
        text-shadow: 1px 1px rgb(255, 253, 253);
        color: black;
    }
    
    .img {
        width: 100%;
        height: 300px;
        background: url(../img/jorexm.png) no-repeat 50%, 50%;
        background-size: cover;
        margin: 40px auto;
    }
    
    #logo {
        width: 100%;
        height: 100px;
    }